/*Import the mixin.scss file here @import 'path/filename' */
@import 'mixins';

/*use the mixin for border radius and background-color of first div by include keyword*/
#first {
    @include border-radius(10px); 
    @include background-color(floralwhite); 
    /*add some more atyle to first div*/
    width: 500px;
    position: relative;
    border:5px solid aqua;
}

/*Now extend the same style applied for first div to second and third div*/
#second{
    @extend #first;
    /*add some more style to second div*/
    padding: 20px;
    margin: 30px;
    color:olivedrab;
}

#third{
    @extend #first;
    /*add some more atyle to third div*/
    padding: 30px;
    margin: 40px;
    color:red;
    /*width: 500px;
    position: absolute;
    padding: 20px;
    margin: 30px;
    background-color: antiquewhite;
    color:olivedrab;
    border:3px solid aqua;*/
}
/*Add some style on hover on first div ,this will be extended to all divs where it is included*/
#first:hover{
    color:blueviolet;
    font-weight: bold;
}